
body {
    background: #FFF;
    color: #FFF;
    margin: 0px;
    font-family: Myriad Pro, semibold;
    font-size: 35px; 
}

#container {
    background: #000;
    text-align: center;
    width: 100%;
    height: 5480px;
    position: absolute;
    min-width: 2100px;
}

#header {
    background: #1e2226;
    width: 100%;
    height: 80px;
    text-align: center;
    cursor: auto;
    position: fixed;
    min-width: 2100px;
    z-index: 10;
}

#header div {
    background: #1e2226;
    width: 16%;
    height: 100%;
    position: absolute;
}

#header a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    line-height: 250%;
    background: #1e2226;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
}
#header a:hover {
    cursor: pointer;
    background: #323940;
}

#main {
    margin-left: 10%;
}

#aboutUs {
    margin-left: 26%;
}

#examples {
    margin-left: 42%;
}

#order {
    margin-left: 58%;
}

#contacts {
    margin-left: 74%;
}

#mainPage {    
    background-image: url(../images/firstPage.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto auto;
    width: 80%;
    height: 19.7%;
    padding-top: 0px;
    margin-top: 80px;
}
#mainPage img{
    width: 100%;
}
#logo {
    text-align: center;
    padding-top: 25%;
    padding-left: 0%;
    font-family: Mistral;
    font-size: 100px;
    text-shadow:
			-3px -3px 0 #000,
			3px -3px 0 #000,
			-3px 3px 0 #000,
			3px 3px 0 #000;
    margin: auto;
}

#aboutCompany {
    background-image: url(../images/secondPage.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto auto;
    width: 80%;
    height: 19.7%;
    padding-top: 0px;
}
#description {
    overflow: hidden;
    line-height: 1;
    padding-top: 12%;
    padding-left: 3%;
    text-align: left;
    font-size: 28px;
    text-indent: 60px;
}

#video {
    padding-top: 13%;
    float: left;
}

#moreExamples {
    background: #000;
    margin: auto auto;
    width: 80%;
    height: 19.7%;
    padding-top: 0px;
}
#doSale {
    /*background-image: url(../images/forthPage.png);*/
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto auto;
    width: 80%;
    height: 19.7%;
    padding-top: 0px;
}

#contactsCompany {
    background-image: url(../images/forthPage.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto auto;
    width: 80%;
    height: 19.7%;
    padding-top: 0px;
}